.card {
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  padding: 1rem;
  border: 1px solid #d7d7d7;
  border-radius: 15px;
 
}
.card-house_info,.card-house_distance {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 2.5;
}
.house-info_bold {
  font-weight: 700;
}
.card-house{
    width: 100%;
    height: auto;
}