.homepage{
   background-color: rgb(21, 160, 14);
   display: grid;
   grid-template-rows: 70vh 5rem  repeat(3,min-content);
}
@media(max-width:992px){
   .homepage{
   grid-template-rows: repeat(3,max-content);

   }
}